@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    width: 100%;
    background-color: #129799;
    padding: 2rem 0 1.5rem 2rem;
}

.containerNavBarTopoHeader {
    display: flex;
    justify-content: center;
}

.NavBarTopoHeader,
.NavBarBottomHeader {
    width: 62vw;
    /* height: 15vh; */
    font-size: 1rem;
    color: #F7F7F7;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px red; */
}

.NavBarTopoHeader li,
.NavBarBottomHeader li {
    transition: 500ms;
}

.NavBarTopoHeader li:hover,
.NavBarBottomHeader li:hover{
    color: #FFA185;
    transition: 500ms;
    transform: scale(1.1);
    cursor: pointer;
}

.ContainerTituloImagemHeader {
    display: flex;
    /* padding: 0 0 0 2rem; */
    color: #F7F7F7;
    font-weight: 700;
    align-items: center;
    /* border: solid 1px red; */
}

.ContainerTituloImagemHeader h1 {
    padding: 2rem 0 0 0;
    font-size: 3rem;
}


.ContainerTituloImagemHeader img {
    width: 50vw;
}

.containerNavBarBottomHeader {
    display: flex;
    justify-content: center;
    /* border: solid 1px red; */
}

/* MAIN */

#containerAquarela{
    background-color: #FFA185;
    padding: 0.75rem 0 1.5rem 1.5rem;
    /* border: solid 3px green; */
}

.ContainerTituloETextoAquarela h2 {
    font-size: 2.3rem;
    padding: 0.75rem 0 1.5rem 0;
    color: #FFFFFF;
}

.ContainerTituloETextoAquarela p {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 0 2rem 0;
}

#SectionImagensAquarela {
    display: inline-flex;
    flex-direction: row;
    /* background-color: red; */
}

.ContainerLinhaDeCimaImagensAquarela,
.ContainerLinhaDeBaixoImagensAquarela {
    /* width: 330px; */
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    /* border: solid 2px yellow; */
}

.ContainerLinhaDeCimaImagensAquarela img,
.ContainerLinhaDeBaixoImagensAquarela img {
    width: 650px;
    /* border: solid 2px red; */
}

.ContainerBotaoVejaMais {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: solid 2px yellow; */
}

.BotaoVejaMais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;    /* COLOCANDO LARGURA NO 'BOTAO' PARA TESTAR QUESTAO DE ACESSIBILIDADE EM UM BOTAO MAIOR E MAIS FACIL DE CLICAR DO QUE APENAS A AREA DO PROPRIO TEXTO*/
    height: 5vw;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* border: solid 2px red; */
    transition: 0.7s;
}

.BotaoVejaMais:hover {
    transition: 0.7s;
    transform: scale(1.1);
    color: #129799;
    cursor: pointer;
}

/* FOOTER */

#ContainerFooter {
    width: 100%;
    height: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #129799;
}

.ContainerLogoSocialMedia {
    width: 20vw;
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
    /* border: solid 2px red; */
}

.ContainerLogoSocialMedia a {
    transition: 0.8s;
}

.ContainerLogoSocialMedia a:hover {
    transition: 0.8s;
    transform: scale(1.3);
}

.ContainerNavBarFooter {
    width: 45vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F7F7F7;
    font-size: 1rem;
    /* border: solid 2px yellow; */
}

.ContainerNavBarFooter ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ContainerNavBarFooter li {
    transition: 0.8s;
}

.ContainerNavBarFooter li:hover{
    transition: 0.8s;
    transform: scale(1.2);
    cursor: pointer;
}