@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: #129799;
}

.containerNavBarTopoHeader {
    display: flex;
    justify-content: center;
}

.NavBarTopoHeader,
.NavBarBottomHeader {
    width: 35%;
    /* height: 15vh; */
    padding: 1.5rem 0 1.5rem 0;
    color: #F7F7F7;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid 1px red; */
}

.NavBarTopoHeader li:hover,
.NavBarBottomHeader li:hover{
    color: #FFA185;
    transition: 300ms;
    cursor: pointer;
}

/* .liNavBarTopoHeader {

} */

.ContainerTituloImagemHeader {
    display: flex;
    /* padding: 0 0 0 2rem; */
    color: #F7F7F7;
    font-weight: 700;
    align-items: center;
    /* border: solid 1px red; */
}

.ContainerTituloImagemHeader h1 {
    padding: 1.5rem 0 0 0;
    font-size: 3rem;
}


.ContainerTituloImagemHeader img {
    width: 52vw;
}

.containerNavBarBottomHeader {
    display: flex;
    justify-content: center;
    /* border: solid 1px red; */
}

/* MAIN */

#containerAquarela{
    background-color: #FFA185;
    padding: 0.75rem 0 1.5rem 1.5rem;
    border: solid 3px green;
}

.ContainerTituloETextoAquarela h2 {
    font-size: 3rem;
    padding: 0.75rem 0 1.5rem 0;
    color: #FFFFFF;
}

.ContainerTituloETextoAquarela p {
    font-weight: 500;
}

#SectionImagensAquarela {
    display: inline-flex;
    flex-direction: row;
    /* background-color: red; */
}

.ContainerLinhaDeCimaImagensAquarela,
.ContainerLinhaDeBaixoImagensAquarela {
    /* width: 330px; */
    display: inline-block;
    flex-direction: row;
    border: solid 1px yellow;
}

.ContainerLinhaDeCimaImagensAquarela img,
.ContainerLinhaDeBaixoImagensAquarela img {
    /* margin: 1.5rem 1.5rem 0 0; */
    width: 320px;
}